// --------------------------------------------------------- margin

.margin-small {
  margin: $margin-base 0;
}

.margin-medium {
  margin: $margin-base * 1.66667 0;
}

.margin-large {
  margin: $margin-base * 2.3333 0;
}

.margin-xlarge {
  margin: $margin-base * 3.3333 0;
}

.margin-xxlarge {
  margin: $margin-base * 5 0;
}

.margin-small-top {
  margin-top: $margin-base;
}

.margin-medim-top {
  margin-top: $margin-base * 1.66667;
}

.margin-large-top {
  margin-top: $margin-base * 2.3333;
}

.margin-xlarge-top {
  margin-top: $margin-base * 3.3333;
}

.margin-xxlarge-top {
  margin-top: $margin-base * 5;
}

.margin-small-bottom {
  margin-bottom: $margin-base;
}

.margin-medium-bottom {
  margin-bottom: $margin-base * 1.66667;
}

.margin-large-bottom {
  margin-bottom: $margin-base * 2.3333;
}

.margin-xlarge-bottom {
  margin-bottom: $margin-base * 3.3333;
}

.margin-xxlarge-bottom {
  margin-bottom: $margin-base * 5;
}
