// --------------------------------------------------------- row

.row {
  flex: auto;
  display: flex;
  margin-left: -$container-padding / 2;
  margin-right: -$container-padding / 2;
  &.unpack {
    margin-left: unset;
    margin-right: unset;
    & div[class^="column-"],
    div[class*=" column-"],
    div[class^="restrictor-"],
    div[class*=" restrictor-"] {
      padding-left: unset;
      padding-right: unset;
    }
  }

  @include create-max($no-of-columns);
}

.row.max {
  flex-wrap: wrap;
}
