// --------------------------------------------------------- row

.grid__row {
  flex: auto;
  display: flex;
  margin-left: -$container-padding / 2;
  margin-right: -$container-padding / 2;
}

.grid__row--unpack {
  margin-left: unset;
  margin-right: unset;
  & .grid__column,
  div[class^="grid__column-"],
  div[class*=" grid__column-"],
  div[class^="grid__restrictor-"],
  div[class*=" grid__restrictor-"] {
    padding-left: unset;
    padding-right: unset;
  }
}

.grid__row--max {
  flex-wrap: wrap;
}

@for $i from 1 through $no-of-spacers {
  .grid__row--space-#{$i} {
    margin: $basic-unit * $i 0;
  }
}

@include create-max($no-of-columns);
