h1,
h2,
h3,
h4,
h5,
h6 {
  color: $font-color-header;
  font-family: $font-family-header;
}

h2 {
  font: {
    size: 3rem;
  }
  letter-spacing: calc(1px - 0.08em);
  margin-bottom: 8 * $basic-unit;
}
